body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
    margin-left: 250px;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.content p {
    color: #555555;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.p-3 {
    padding: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.flex-fill {
    flex: 1 1 auto;
}

.align-items-stretch .col-md-6 {
    display: flex;
}

.rounded {
    border-radius: 8px !important;
}

.shadow-sm {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

/* Stilovi za paginaciju */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination li {
    margin: 0 5px;
}

.pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.pagination .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* Gallery styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    height: auto;
}

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Link styles */
nav a {
    color: #007bff !important;
    text-decoration: none !important;
}

nav a:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

nav a:active {
    color: #004080 !important;
}

nav a:visited {
    color: #800080 !important;
}